@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --main-fl: "Mulish", sans-serif;
  --secondary-fl: "Poppins", sans-serif;
  --color: #0e1731;
  --main-bg: #f2f2f2;
  --fz-xsm: 1.4rem;
  --fz-sm: 1.6rem;
  --fz-md: 1.8rem;
  --fz-xl: 2.4rem;
  --fz-xxl: 3.6rem;
  --fz-xxxl: 5.2rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--color);
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--main-bg);
}

a,
li,
ul {
  text-decoration: none;
  list-style: none;
  border: none;
}

main {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 3rem;
}

@media screen and (max-width: 1610px) {
  main{
    flex-direction: column;
  }
}

@media screen and (max-width: 590px) {
  main{
    padding: 1rem;
  }
}